<template>
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentUserName, currentMessage)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
      >
        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
        >
          <v-flex xs12>
            <b>{{message.userName}}</b> says: 
            <v-chip
              v-if="message.uuid === uuid"
              text-color="white"
              color="primary"
              class="float-right"
              label>
                {{message.text}}
            </v-chip>

            <v-chip
              v-if="message.uuid !== uuid"
              text-color="primary"
              outlined
              color="primary"
              class="float-left"
              label>
                {{message.text}}
            </v-chip>
          </v-flex>
        </v-layout>
        <v-container>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <v-text-field
                label="Username"
                v-model="currentUserName"
                class="mt-12">
              </v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="4">
              <v-text-field
                label="New Message"
                v-model="currentMessage"
                class="mt-12"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-btn
          @click="sendMessage(currentUserName, currentMessage)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentUserName, currentMessage)"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    currentUserName: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    sendMessage: function(userName, messageText) {
      const message = JSON.stringify({
        userName: userName,
        text: messageText,
        uuid: this.uuid
      })
      console.log(message)
      this.$socket.send(message)
      this.currentMessage = ''
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.OK === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
